@import '../../../scss/variables';

$img-width: 260px;
$img-height: 260px;

// $gap-min:

.author {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &__img {
    background-color: red;
    width: $img-height;
    height: $img-width;
    border-radius: $rounded;
  }
  &__name {
    font-size: 1.5rem;
    text-align: center;
  }

  &__info {
    font-size: 1rem;
    text-align: center;
  }

  &__button {
    align-self: flex-end;
  }
}

// @media (min-width: )