@import '../../scss/variables';

.outlet {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: $padding-s;
}

@media (min-width: 1024px) {
  .outlet {
    flex-direction: row;
  }
}


