@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/dmsans-variablefont_opszwght-webfont.woff2') format('woff2') tech('variations'),
  url('../assets/fonts/dmsans-variablefont_opszwght-webfont.woff') format('woff') tech('variations');
  font-weight: 100 1000;
  font-optical-sizing: auto;
}