$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-32: 32px;
$font-48: 48px;

$margin-20: 20px;
$margin-40: 40px;

$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 20px;
$padding-l: 40px;

$margin-s: 20px;
$margin-m: 40px;
$margin-l: 60px;

$rounded: 50%;

$primary-dark: #010409;
$secondary-dark: #0D1117;
$color-dark: #E6EDF3;

$green: #1ECD97;

$anim-timing: 350ms