$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-32: 32px;
$font-48: 48px;

$distance-s: 10px;
$distance-m: 20px;
$distance-l: 30px;
$distance-xl: 40px;
$distance-xxl: 50px;

$rounded: 50%;
$radius: 15px;

$border: 1px solid #30363D;

$primary-dark: #010409;
$secondary-dark: #0D1117;
$color-dark: #E6EDF3;
$color-secondary: #30363D;


$primary-light: #FEFCF3;
$secondary-light: #F5EBE0;
$color-light: #010409;
$accent-light: #FF1393;

$green: #1ECD97;
$error: #e02f2f;

$anim-timing: 350ms;